<% provide(:title, "About") %>
<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt assumenda voluptatem ratione eligendi delectus ipsam, accusantium aut! Saepe dignissimos similique minus, architecto alias. Aliquid explicabo unde quae cupiditate id expedita.</p>
